.home-navbar {
  /* position: fixed; */
  width: 100%;
  height: 170px;
  top: 0;
  display: flex;
  background: rgb(234, 72, 21);
  border-bottom: 1px solid rgba(239, 239, 239, 0.2);
  background-size: cover;
}

.home-navbar .navbar-container {
  position: relative;
  margin-top: 10px;
  height: 150px;
}

.home-navbar .navbar-container .menu {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-navbar .navbar-container .menu .brand-box {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-navbar .navbar-container .menu .brand-box .brand-logo {
  width: 55px;
  height: 55px;
}

.home-navbar .navbar-container .menu .brand-box strong {
  font-family: "Roboto Serif";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
  color: #f8f8ff;
}

.home-navbar .navbar-container .menu .single-search-big-box {
  position: relative;
  display: flex;
  align-items: center;
}

.home-navbar
  .navbar-container
  .menu
  .single-search-big-box
  .single-button-search {
  position: absolute;
  right: 0;
  border-radius: 18.5px;
  background: #343434;
}

.home-navbar
  .navbar-container
  .menu
  .single-search-big-box
  .single-search-input {
  border-radius: 18.5px;
  border: 1px solid #fff;
  background: #fffcfc;
  box-shadow: 0px 4px 4px 0px rgba(212, 212, 212, 0.25);
  width: 250px;
  height: 28.541px;
  flex-shrink: 0;
  padding-left: 20px;
}

.home-navbar .navbar-container .menu .links {
  min-width: 700px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-navbar .navbar-container .menu .links .btn {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-navbar .navbar-container .menu .links .login-btn {
  background-color: rgb(234, 72, 21);
  color: white;
  box-shadow: 0 4px 10px rgba(64, 77, 90, 0.4);
}

.home-navbar .navbar-container .menu .links .login-btn:hover {
  box-shadow: 0 6px 15px rgba(24, 25, 25, 0.6);
  transform: translateY(-2px);
}

.home-navbar .navbar-container .menu .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 24px;
}

.home-navbar a {
  text-decoration: none;
}

.home-navbar .hover-line a {
  color: white;
  z-index: 100;
  font-family: "Roboto Serif";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.1px;
}

.home-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 2px white;
}

.home-navbar .hover-line::after {
  display: block;
  content: "";
  border-bottom: solid 2px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.home-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}

/* hearder-farm */

.home-navbar .navbar-container .header-frame {
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-navbar .navbar-container .header-frame .detail {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-navbar .navbar-container .header-frame .detail .head-main-txt {
  width: 450px;
  height: 135px;

  font-family: "Roboto Serif";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
  color: #f8f8ff;
}

.home-navbar .navbar-container .header-frame .detail .wel-txt {
  width: 510px;
  height: auto;

  font-family: "Roboto Serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  color: #d7b686;
}
.home-navbar .navbar-container .header-frame .detail .service-txt {
  margin-top: 20px;
  width: 220px;
  height: 23px;

  font-family: "Roboto Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #0c0c0c;
}

.home-navbar .navbar-container .detail .signup {
  margin-top: 60px;
}
.home-navbar .navbar-container .detail .signup .signup-btn {
  width: 210px;
  height: 60px;
  border-radius: 4px;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0px;
  box-shadow: 0 4px 10px rgba(29, 45, 33, 0.4);
}

.home-navbar .navbar-container .detail .signup .signup-btn:hover {
  box-shadow: 0 4px 10px rgba(18, 21, 19, 0.4);
  transform: translateY(-2px);
}

/* other navbar */

.other-navbar {
  width: 100%;
  height: 170px;
  background: rgb(234, 72, 21);
  border-bottom: 1px solid rgba(239, 239, 239, 0.2);
  background-size: cover;
}

.other-navbar .navbar-container {
  margin-top: 10px;
}

.other-navbar .navbar-container .menu {
  height: 75px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-navbar .navbar-container .menu .brand-box {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-navbar .navbar-container .menu .brand-box strong {
  font-family: "Roboto Serif";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
  color: #f8f8ff;
}

.other-navbar .navbar-container .menu .brand-logo {
  width: 55px;
  height: 55px;
}

.other-navbar .navbar-container .menu .links {
  min-width: 700px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.other-navbar .navbar-container .menu .links .btn {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.other-navbar .navbar-container .menu .links .login-btn {
  background-color: #12171d;
  color: #d7b686;
  box-shadow: 0 4px 10px rgba(64, 77, 90, 0.4);
}

.other-navbar .navbar-container .menu .links .login-btn:hover {
  box-shadow: 0 6px 15px rgba(24, 25, 25, 0.6);
  transform: translateY(-2px);
}

.other-navbar .navbar-container .menu .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 24px;
}

.other-navbar a {
  text-decoration: none;
}

.other-navbar .hover-line a {
  font-family: "Roboto Serif";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
  color: #f8f8ff;
  z-index: 100;
}

.other-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b686;
}

.other-navbar .hover-line::after {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.other-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.other-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}

/* BASKET */

.basket-frame {
  position: relative;
  padding: 10px 4px 0px 4px;
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #f8f8ff;
  border-radius: 16px;
}

.basket-frame .all-check-box {
  padding: 0px 6px;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #d7b586;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #343434;
}

.basket-frame .basket-info-box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket-info-box .product-img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
}

.basket-info-box .product-name {
  margin-left: 11px;
  width: 185px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-info-box .product-price {
  width: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ae0000;
}

.basket-info-box
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6.5px 14px;
}

.basket-info-box .css-ece9u5 {
  min-width: 72px;
}

.basket-frame .cancel-btn {
  position: absolute;
  top: 33%;
  right: 2%;
  cursor: pointer;
}

.basket-frame .basket-order {
  margin-top: 10px;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.basket-order .price {
  width: 200px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-frame .orders-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket-frame .orders-wrapper::-webkit-scrollbar {
  width: 10px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.basket-frame .orders-main-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
}
