.products-page {
  position: relative;
  width: 100%;
  height: auto;
}

.products-page .products {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .products .avatar-big-box {
  width: 100%;
  height: auto;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-page .products .avatar-big-box .single-search-big-box {
  position: relative;
  width: 90%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page
  .products
  .avatar-big-box
  .single-search-big-box
  .single-search-input {
  width: 75%;
  height: 45px;
  border-radius: 18.5px 0 0 18.5px;
  border: 1px solid #fff;
  background: #fffcfc;
  box-shadow: 0px 4px 4px 0px rgba(212, 212, 212, 0.25);
  padding-left: 20px;
}

.products-page
  .products
  .avatar-big-box
  .single-search-big-box
  .single-button-search {
  position: absolute;
  width: 12.5%;
  height: 45px;
  right: 0;
  border-radius: 0px 18.5px 18.5px 0px;
  background: #343434;
}

.products-page .products .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: #1a2a6c;
  text-align: center;
  background: linear-gradient(90deg, #1a2a6c, #b21f1f, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products-page .products .animals-filter-box {
  width: 100%;
  height: 45px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  gap: 20px;

  /* padding-right: 15%; */
}

.products-page .products .animals-filter-box .category-box {
  height: 200px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.products-page .products .animals-filter-box .category-box .img-box {
  position: relative;
  width: 180px;
  height: 75px;
  display: flex;
  flex-direction: column;
}

.products-page .products .animals-filter-box .category-box .img-box .image {
  position: relative;
  width: 80%;
  height: 120px;
}

/*  */

.products-page .products .animals-filter-box .filter-box {
  width: 10%;
  display: flex;
  flex-direction: row;
}

.products-page .products .list-category-section .product-category {
  display: flex;
  /* gap: 50px; */
  padding-top: 7%;
  width: 78px;
}

.products-page .products .list-category-section .product-category button {
  height: 36px;
  font-weight: 600;
  font-size: 12px;
  /* transform: rotate(-90deg); */
}

/* */

.products-page .products .product-wrapper {
  width: 100%;
  height: 800px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 34px;

  margin-bottom: 100px;
}

.products-page .products .product-wrapper .product-card {
  min-width: 300px;
  min-height: 420px;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

/* .products-page .products .product-card .shop-btn {
  width: 64px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e3c08d;
  background: rgba(199, 69, 211, 0.78);
  position: absolute;
  left: 50px;
  opacity: 0;
  transition: opacity 0.3s ease;
  bottom: 10px;
} */

.products-page .products .top-title {
  margin-top: 40px;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: #1a2a6c;
  text-align: center;
  background: linear-gradient(90deg, #1a2a6c, #b21f1f, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products-page .products .pagination-section {
  margin-top: 10px;
}

/*  */

.products-page .products .brands-logo {
  background: #0d1518;
  width: 100%;
  height: 630px;
  margin-top: 67px;
}

.products-page .products .brands-logo .brand-text {
  width: 500px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #e3c08d;
  margin-top: 3%;
  margin-left: 39%;
  background: linear-gradient(90deg, #1a2a6c, #b21f1f, #fdbb2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products-page .products .brands-logo .brand-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 59px;
  gap: 86px;
}

.products-page .products .brands-logo .brand-card {
  width: 259px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgb(216, 87, 48);
  box-shadow: 0px 0px 22px 0px #e0b074;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.products-page .products .brands-logo .brand-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.products-page .products .brands-logo .brand-card img {
  width: 230px;
  height: 329px;
  flex-shrink: 0;
  border-radius: 16px;
  /* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
  transform: scale(1);
}

/*  */

.products-page .products .address {
  width: 100%;
  margin: auto;
}

.products-page .products .address-area {
  width: 100%;
  /* margin-top: 20px; */
  display: flex;
  margin-bottom: 89px;
}

.products-page .products .title {
  width: 232px;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #343434;
  margin-top: 46px;
  margin-left: 42%;
}

/** ChosenProduct **/

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}

.products-page .no-data {
  width: 1190px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}
